@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
}


.checkbox{
    position: relative;
    top: 3px;
    width: 20px;
    height: 20px; 
    border: none;
    outline: none;
}

.number{
    width: 50px;
    font-size: 30px;
    background: none;
    border: none;
    color: #0075FF;
    outline: none;
}

.control-panel {
  overflow: none;
  user-select: none;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  z-index: 2;
  transition: all 0.5s ease-out;
}

.control-panel:hover{
    transition: all 0.5s ease-out;
    translate: -20px 0px;
}

#panelHideButton {
    color: white;
    font-size: 50px;
    z-index: 0;
    position: absolute;
    width: 100px;
    height: 50px;
    margin-top: 25px;
    margin-left: 40px;
    padding: 0px;
    padding-left: 10px;
     top: 0px;
    left: -70px;
    background-color: #0075FF;
    overflow: visible;
    cursor: pointer; 
    transition: all 0.2s ease-in-out; 
    border: 3px #DFE6E9 solid;
}
  
#panelHideButton:hover {
    transform: translateX(-20px); /* Slide out on hover */
     background-color: #005CC8; 
  }

.panel-content{
    background-color: #DFE6E9;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    clip-path: polygon(
      0px calc(100% - 8px),
      4px calc(100% - 8px),
      4px calc(100% - 4px),
      8px calc(100% - 4px),
      8px 100%,
      calc(100% - 8px) 100%,
      calc(100% - 8px) calc(100% - 4px),
      calc(100% - 4px) calc(100% - 4px),
      calc(100% - 4px) calc(100% - 8px),
      100% calc(100% - 8px),
      100% 8px,
      calc(100% - 4px) 8px,
      calc(100% - 4px) 4px,
      calc(100% - 8px) 4px,
      calc(100% - 8px) 0px,
      8px 0px,
      8px 4px,
      4px 4px,
      4px 8px,
      0px 8px
    );
    z-index: 2;
}



body {
  font-family: 'VT323', monospace;
  overflow: hidden;
}

.button {
   
    background-color: #0075FF;
    color: white;
    padding: 0px;
    margin: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border: none;
  
    
  }

.button:hover{
    background-color: #005CC8;
}

.option-centered{
    display: flex;
    justify-content: center;
}

.title{
text-align: center;
}

.option{
}

